.contact{
    text-align: center;
    background-color: rgb(214, 214, 211);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.name{
    padding-top: 10%;
    font-size: 50px;
}

.social{
    display: inline-block;
}
img{
    width: 10%;
    text-align: center;
}
.map{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 214, 211);
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
}
