body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(240, 239, 239);
}
.container{
  clear:both;
  overflow:auto;
}

nav{text-align: right;
  }
.nav-bar{
  position:fixed;
  top: 0px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(95, 95, 95);
  width: 100%;
}
.logo img{
    float:left;
    padding: 1%;
    width:15%;}

nav ul li{
  display: inline-block;
  font-size:20px; font-family:Arial, Helvetica, sans-serif;
  padding: 1%;
  padding-left: 2%;
}

a:hover{
  color:rgb(138, 137, 136);
  text-decoration: underline;
  text-shadow: rgb(252, 101, 101) 1px 1px;
}

a {
    color: black;
  text-decoration: none;
}
